@page "/browse-animals"
@rendermode InteractiveServer

@using Furever_Homes.Models
@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore
@using Radzen
@using Radzen.Blazor

@inject Furever_Homes.Models.ForeverDatabaseContext DbContext
@inject NavigationManager NavigationManager

<h2>Available Animals🐾</h2>

<div class="animal-grid">
    <!--wrap animal information in a grid of cards-->
    @foreach (var a in animals)
    {
        <RadzenCard class="animal-card  rz-my-12 rz-mx-auto">
            <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Start" Gap="1rem" class="rz-p-4">

                <RadzenImage Path="@a?.AnimalPhoto?.PhotoUrl" Style="width: 100px; height: 100px; border-radius: 50%;" />
                <RadzenStack Gap="0">
                    <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-2 rz-my-0">Name 🐾</RadzenText>
                    <RadzenText TextStyle="TextStyle.Body1"><b>@(a?.Name)</b></RadzenText>
                    <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-4 rz-mb-0">Shelter 🏠</RadzenText>
                    <RadzenText TextStyle="TextStyle.Body1"><b>@(a?.Shelter?.ShelterName)</b></RadzenText>
                </RadzenStack>
            </RadzenStack>
            <RadzenCard class="rz-background-color-primary-light rz-shadow-0 rz-border-radius-0 rz-p-8" style="margin: 1rem calc(-1 * var(--rz-card-padding));">
                <RadzenText TextStyle="TextStyle.H6 " class="rz-color-on-primary-light"><strong>Animal Details</strong></RadzenText>
                <RadzenRow RowGap="0">
                    <RadzenColumn SizeSM="4">
                        <RadzenText TextStyle="TextStyle.Overline" class="rz-color-on-primary-light rz-display-flex rz-mt-4 rz-mb-0">Age</RadzenText>
                        <RadzenText TextStyle="TextStyle.Body1" class="rz-color-on-primary-light"><b>@(a?.Age)</b></RadzenText>
                        <RadzenText TextStyle="TextStyle.Overline" class="rz-color-on-primary-light rz-display-flex rz-mt-4 rz-mb-0">Breed </RadzenText>
                        <RadzenText TextStyle="TextStyle.Body1" class="rz-color-on-primary-light"><b>@(a.Breed?.BreedName)</b></RadzenText>
                        <RadzenText TextStyle="TextStyle.Overline" class="rz-color-on-primary-light rz-display-flex rz-mt-4 rz-mb-0">Vaccinated </RadzenText>
                        <RadzenText TextStyle="TextStyle.Body1" class="rz-color-on-primary-light"><b>@(a.Vaccinated ? "Yes" : "No")</b></RadzenText>

                    </RadzenColumn>
                    <RadzenColumn SizeSM="8">
                        <RadzenText TextStyle="TextStyle.Overline" class="rz-color-on-primary-light rz-display-flex rz-mt-4 rz-mb-0">Sex </RadzenText>
                        <RadzenText TextStyle="TextStyle.Body1" class="rz-color-on-primary-light"><b>@(a?.Sex)</b></RadzenText>
                        <RadzenText TextStyle="TextStyle.Overline" class="rz-color-on-primary-light rz-display-flex rz-mt-4 rz-mb-0">Color </RadzenText>
                        <RadzenText TextStyle="TextStyle.Body1" class="rz-color-on-primary-light"><b>@(a?.Color)</b></RadzenText>
                        <RadzenText TextStyle="TextStyle.Overline" class="rz-color-on-primary-light rz-display-flex rz-mt-4 rz-mb-0">Description</RadzenText>
                        <RadzenText TextStyle="TextStyle.Body1" class="rz-color-on-primary-light"><b>@(a?.Description)</b></RadzenText>


                    </RadzenColumn>
                </RadzenRow>
            </RadzenCard>
            <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.End" Gap="0">
                <RadzenButton Text="View Details"
                              Click="@(() => GoToDetails(a.AnimalId))" />
            </RadzenStack>

        </RadzenCard>
    }
</div>

@code {
    private List<Animal> animals = new();

    protected override async Task OnInitializedAsync()
    {
         animals = await DbContext.Animals
             .Include(a => a.Breed)
             .Where(a => a.Available)
             .ToListAsync();

        await Task.CompletedTask;
    }
    
    private string FormatAge(int? months)
    {
        if (months == null) return "Unknown";
        if (months < 12) return $"{months} months";

        int years = months.Value / 12;
        int remainingMonths = months.Value % 12;

        return remainingMonths == 0
            ? $"{years} years"
            : $"{years} years {remainingMonths} months";
    }

    void GoToDetails(int animalId)
    {
        NavigationManager.NavigateTo($"/animal-details/{animalId}");
    }
    
}
