@page "/browse-animals"
@rendermode InteractiveServer

@using Furever_Homes.Models
@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore
@using Radzen
@using Radzen.Blazor

@inject Furever_Homes.Models.ForeverDatabaseContext DbContext
@inject NavigationManager NavigationManager

<h2>Available Animals🐾</h2>

 <div class="animal-grid">  <!--wrap animal information in a grid of cards-->

    @foreach (var a in animals)
    {
        <RadzenCard class="animal-card" Style="padding:15px">

            <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.SpaceBetween">
                <h3>@a.Name</h3>
                <span><b>@FormatAge(a.Age)</b></span>
            </RadzenStack>

            <p><b>Breed:</b> @a.Breed?.BreedName</p> <!-- fix later -->
            <p><b>Color:</b> @a.Color</p>
            <p><b>Description:</b> @a.Description</p>

            <RadzenStack Orientation="Orientation.Horizontal" Gap="1rem">
                <span>@a.Sex</span>
                <span>@(a.Vaccinated ? "Vaccinated" : "Not Vaccinated")</span>
            </RadzenStack>
            <RadzenButton Text="View Details"
                          Click="@(() => GoToDetails(a.AnimalId))" />

        </RadzenCard>
    }
</div>

@code {
    private List<Animal> animals = new();

    protected override async Task OnInitializedAsync()
    {
    
        // animals = await DbContext.Animals
        //     .Include(a => a.Breed)
        //     .Where(a => a.Available)
        //     .ToListAsync();

        //TEMP: using mock data while backend works on DB and is unavailable to frontend
        animals = GetTempAnimals(); //get rid of later

        await Task.CompletedTask;
    }

    //Frontend work, can get rid of this when fully merged with backend
    
    private List<Animal> GetTempAnimals()
    {
      
        return new List<Animal>
        {
            new Animal
            {
                AnimalId = 1,
                Name = "Buddy",
                Age = 10,
                Color = "Brown",
                Sex = "Male",
                Vaccinated = true,
                Description = "Friendly and energetic! Loves belly rubs",
                Breed = new Breed{BreedName = "Poodle" },
                Available = true
            },
            new Animal
            {
                AnimalId = 2,
                Name = "Pickles",
                Age = 3,
                Color = "Black",
                Sex = "Female",
                Vaccinated = true,
                Description = "Very calm and loves the outdoors",
                Breed = new Breed {BreedName = "Domestic ShortHair" },
                Available = true
            },
            
        };
    }  //end of frontend work 
    
    private string FormatAge(int? months)
    {
        if (months == null) return "Unknown";
        if (months < 12) return $"{months} months";

        int years = months.Value / 12;
        int remainingMonths = months.Value % 12;

        return remainingMonths == 0
            ? $"{years} years"
            : $"{years} years {remainingMonths} months";
    }

    void GoToDetails(int animalId)
    {
        NavigationManager.NavigateTo($"/animal-details/{animalId}");
    }
    
}
