@page "/browse-animals"
@rendermode InteractiveServer

@using Furever_Homes.Models
@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore
@using Radzen
@using Radzen.Blazor
@using Furever_Homes.Services


@inject UserFilter userFilter
@inject Furever_Homes.Models.ForeverDatabaseContext DbContext
@inject NavigationManager NavigationManager

<h2>Available Animals</h2>

<RadzenStack Gap="1rem">
    @foreach (var a in animals)
    {
        <RadzenCard Style="padding:15px">

            <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.SpaceBetween">
                <h3>@a.Name</h3>
                <span><b>@FormatAge(a.Age)</b></span>
            </RadzenStack>

            <p><b>Breed:</b> @a.Breed?.BreedName</p> <!-- fix later -->
            <p><b>Color:</b> @a.Color</p>

            <p><b>Description:</b> @a.Description</p>

            <RadzenStack Orientation="Orientation.Horizontal" Gap="1rem">
                <span>@a.Sex</span>
                <span>@(a.Vaccinated ? "Vaccinated" : "Not Vaccinated")</span>
            </RadzenStack>
            <RadzenButton Text="View Details"
                          Click="@(() => GoToDetails(a.AnimalId))" />

        </RadzenCard>
    }
</RadzenStack>

@code {
    private List<Animal> animals = new();

    protected override async Task OnInitializedAsync()
    {
        var query = DbContext.Animals //Filtering first before execution
            .Include(a => a.Breed)
            .Where(a => a.Available)
            .AsQueryable();

        //Series of if statements that'll filter only if the preferences aren't set to their default values
        if (!string.IsNullOrWhiteSpace(userFilter.UserSex) && userFilter.UserSex != "No Preference")
        {
            query = query.Where(a => a.Sex == userFilter.UserSex);
        }

        if (userFilter.UserPet != null && !string.IsNullOrEmpty(userFilter.UserPet.TypeName))
        {
            
            query = query.Where(a => a.AnimalTypeId == userFilter.UserPet.AnimalTypeId);
        }

        if (userFilter.MinAge != -1 || userFilter.MaxAge != -1)
        {
            query = query.Where(a => a.Age >= userFilter.MinAge && a.Age <= userFilter.MaxAge);
        }

        animals = await query.ToListAsync();
    }
    private string FormatAge(int? months)
    {
        if (months == null) return "Unknown";
        if (months < 12) return $"{months} months";

        int years = months.Value / 12;
        int remainingMonths = months.Value % 12;

        return remainingMonths == 0
            ? $"{years} years"
            : $"{years} years {remainingMonths} months";
    }

    void GoToDetails(int animalId)
    {
        NavigationManager.NavigateTo($"/animal-details/{animalId}");
    }
}
