@page "/settings"

@using Furever_Homes.Models
@using Microsoft.AspNetCore.Identity
@using Radzen
@using Radzen.Blazor

@inject TooltipService tooltipService
@inject NavigationManager NavigationManager
@inject NotificationService NotificationService

<h2>Settings ⚙️</h2>


<RadzenCard class="rz-my-12 rz-mx-auto rz-p-4 rz-p-md-12" style="max-width: 600px;">
    <RadzenStack Orientation="Orientation.Vertical" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center" Gap="1rem" class="settings-section rz-p-sm-12" Style="width: 100%;">

        <!--First question-->
        <RadzenStack Gap ="1rem" AlignItems="AlignItems.Center">
            <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Center"  Gap="2rem">
                <img src="/images/dog.png" alt="Dog" style="width:120px;"/>
                 <img src="/images/cat.png" alt="Cat" style="width:120px;" />
            </RadzenStack>

            <RadzenLabel Text ="What kind of animal do you want to adopt?" />
            <RadzenStack Orientation="Orientation.Horizontal" Wrap="FlexWrap.Wrap" Gap="1rem" >
                <RadzenButton Text="Dog" MouseEnter="@(args => TheDogGoes(args, new TooltipOptions() { Position = TooltipPosition.Bottom }))" Click="@(() => SetPetPreference("Dog"))"/>
                <RadzenButton Text="Cat" MouseEnter="@(args => TheCatGoes(args, new TooltipOptions() { Position = TooltipPosition.Bottom }))" Click="@(() => SetPetPreference("Cat"))"/>
                <RadzenButton Text="Either" MouseEnter="@(args => ShowNothing(args, new TooltipOptions() { Position = TooltipPosition.Bottom }))" Click="@(() => SetPetPreference("Either"))"/>   
        </RadzenStack>
    </RadzenStack>

        <!--Second question-->
        <RadzenStack Gap="1rem" AlignItems="AlignItems.Center">
            <RadzenStack Orientation="Orientation.Horizontal" Gap="2 rem" >
                <img src="/images/maleSymbol.png" alt="Dog" style="width:50px;height: auto; object-fit: contain;"/>
                <img src="/images/femaleSymbol.png" alt="Cat" style="width:50px; height: auto; object-fit: contain;" />
             </RadzenStack>

        <RadzenLabel Text="Do you prefer a male or female pet?" />
            <RadzenStack Orientation="Orientation.Horizontal" Wrap="FlexWrap.Wrap" Gap="1rem">
                <RadzenButton Text="Male" />
                <RadzenButton Text="Female"/>
                <RadzenButton Text="No Preference"/>
            </RadzenStack>
        </RadzenStack>

        <!--Third question-->
        <RadzenStack Orientation="Orientation.Horizontal"  Gap="1rem" >
            <img src="/images/puppy.png" alt="Dog" style="width:120px; height: auto; object-fit:contain;"/>
            <img src="/images/olderDog.png" alt="Cat" style="width:180px; height: auto; object-fit:contain;" />
        </RadzenStack>

        <RadzenLabel Text="Do you prefer a younger or older pet?" />
        <RadzenStack Orientation="Orientation.Horizontal" JustifyContent = "JustifyContent.Center" Wrap="FlexWrap.Wrap" Gap="1rem" Style="width: 100%">
            <RadzenButton Text="puppy/kitten"  />
            <RadzenButton Text="young" />
            <RadzenButton Text="adult" />
            <RadzenButton Text="senior" />
            <RadzenButton Text="Any" />
        </RadzenStack>
       </RadzenStack>
    </RadzenCard>
@code {
    string petPreference = " ";



    //Just for sillies 
    void TheDogGoes(ElementReference elementReference, TooltipOptions options = null) => tooltipService.Open(elementReference, "bark", options);
    void TheCatGoes(ElementReference elementReference, TooltipOptions options = null) => tooltipService.Open(elementReference, "meow", options);
    void ShowNothing(ElementReference elementReference, TooltipOptions options = null) => tooltipService.Open(elementReference, "...", options);

    //This is where we start setting preferences for filtering, this one is for pet type.
    void SetPetPreference(string pet)
    {
        petPreference = pet;
        
    }
}
